@charset "UTF-8";
a {
  /* outline: none; */
  text-decoration: none;
  color: #84a2d4;
}
a:hover {
  color: #fff;
}
a:visited {
  color: #a0d8ef;
}

.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #726250;
}
.head img {
  height: 120px;
  clip-path: circle(50%);
}

ul {
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  min-width: 327px;
  max-width: 60vw;
  list-style: none;
}
ul a:nth-of-type(-n+4) li::after {
  margin-left: 0.5rem;
  padding: 0 0.3rem 0.1rem;
  font-size: 0.8rem;
  border-radius: 1rem;
  color: #fff;
  background-color: #bed3ca;
  content: "待上传";
}
ul a:last-of-type li::after {
  margin-left: 0.5rem;
  padding: 0 0.3rem 0.1rem;
  font-size: 0.8rem;
  border-radius: 1rem;
  color: #fff;
  background-color: #68be8d;
  content: "NEW";
}

li {
  display: block;
  align-items: center;
  overflow: hidden;
  margin-top: 0.5rem;
  padding: 1.5rem;
  height: 2rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #ebf6f7;
}
li:hover {
  background-color: #c1e4e9;
}