@charset "UTF-8";

a {
    /* outline: none; */
    text-decoration: none;
    color: #84a2d4;
}

a:hover {
    color: #fff;
}

a:visited {
    color: #a0d8ef;
}

.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0 0 0;
    color: #726250;
}

.head img {
    height: 120px;
    clip-path: circle(50%);
}

.head h2 {
    margin: 1rem 0 0 0;
}

@media screen and (max-width: 800px) {
    .xiangying {
        margin: 0 auto;
        width: 90vw;
    }
}

@media screen and (min-width: 800px) {
    .xiangying {
        margin: 0 auto;
        width: 60vw;
        max-width: 700px;
    }
}

ul {
    overflow: hidden;
    padding: 0;
    list-style: none;
}

ul a:nth-of-type(n+4) li::after {
    margin-left: .5rem;
    padding: 0 .3rem .1rem;
    font-size: .8rem;
    border-radius: 1rem;
    color: #fff;
    background-color: #bed3ca;
    content: "待上传";
}

ul a:first-of-type li::after {
    margin-left: .5rem;
    padding: 0 .3rem .1rem;
    font-size: .8rem;
    border-radius: 1rem;
    color: #fff;
    background-color: #68be8d;
    content: "NEW";
}

li {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-top: .5rem;
    padding: 1.5rem;
    height: 2rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    background-color: #ebf6f7;
}

li:hover {
    background-color: #c1e4e9;
}

li p {
    display: inline-block;
    overflow: hidden;
    margin: 0;
    max-width: 78%;
    text-overflow: ellipsis;
    white-space: nowrap;
}
