* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #302833;
}

main {
  margin: 0 auto;
  width: 80vw;
}
main .dabiaoti h1 {
  font-size: 1.5rem;
  color: #a99e93;
}

.dabiaoti {
  margin: 30px auto 20px auto;
  width: fit-content;
  font-size: 40px;
  text-align: center;
}

.banner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 200px;
  font-size: 18px;
}
.banner .bgbg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  background: url("https://nimg.ws.126.net/?url=http%3A%2F%2Fdingyue.ws.126.net%2F0JuOo0WSEbZd5CcSaK0bpdotfcP4fsbZUkv9W5DPNGet%3D1524064213221compressflag.jpg&thumbnail=650x2147483647&quality=80&type=jpg");
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 200px;
}
.banner .caidanzu {
  display: flex;
  flex-direction: column;
  margin: 0 20px 0 auto;
  width: 150px;
  height: 200px;
}
.banner .caidanzu .caidan {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.65);
  cursor: pointer;
  flex-grow: 1;
}
.banner .caidanzu .caidan .biaoti {
  margin-left: 16px;
  color: #ccc;
}
.banner .caidanzu .caidan .biaoti h1 {
  font-size: 14px;
}
.banner .caidanzu .caidan .biaoti h2 {
  display: none;
  font-size: 13px;
}
.banner .caidanzu .caidan .datu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  display: none;
}
.banner .caidanzu .caidan:hover {
  background-color: #000;
}
.banner .caidanzu .caidan:hover h1 {
  margin-bottom: 8px;
  font-size: 18px;
  color: #fff;
}
.banner .caidanzu .caidan:hover h2 {
  display: block;
  color: #fff;
}
.banner .caidanzu .caidan1 .datu1 {
  width: 100vw;
  height: 200px;
  background: url("https://nimg.ws.126.net/?url=http%3A%2F%2Fdingyue.ws.126.net%2FzOk44SbNT5XL048z8JeOP%3DFDx83TCizabWUQ7sCdRPT9o1524064213221compressflag.jpg&thumbnail=650x2147483647&quality=80&type=jpg");
  background-position: center;
  background-size: cover;
}
.banner .caidanzu .caidan1:hover .datu1 {
  display: block;
}
.banner .caidanzu .caidan2 .datu2 {
  background: url("https://nimg.ws.126.net/?url=http%3A%2F%2Fdingyue.ws.126.net%2Frj%3D%3DqQ78FQ1Iz%3DZW01moky%3DbQHQdv7hjgy5EIg8AiFCHi1524064213221compressflag.jpg&thumbnail=650x2147483647&quality=80&type=jpg");
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 200px;
}
.banner .caidanzu .caidan2:hover .datu2 {
  display: block;
}
.banner .caidanzu .caidan3 .datu3 {
  background: url("https://nimg.ws.126.net/?url=http%3A%2F%2Fdingyue.ws.126.net%2FJPkt7njNzwOqnH%3DsEIbtdJOTRJF6MlmI3QRTJOmPEYkno1524064213221compressflag.jpg&thumbnail=650x2147483647&quality=80&type=jpg");
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 200px;
}
.banner .caidanzu .caidan3:hover .datu3 {
  display: block;
}

.caidan-dw {
  position: relative;
}
.caidan-dw .fudong {
  position: absolute;
  top: 0;
  right: 90%;
  z-index: 1;
  width: 216px;
  height: 100px;
  visibility: hidden;
  transition-duration: 0.5s;
  transition-property: right;
}
.caidan-dw .fudong .kuai {
  float: left;
  padding: 8px;
  width: 200px;
  height: 100px;
  border: solid 2px #000;
  box-sizing: border-box;
}

.caidanzu .caidan1:hover .fudong1 {
  right: 102%;
  visibility: visible;
}
.caidanzu .caidan1:hover .fudong1 .kuai {
  background: #000 url("https://nimg.ws.126.net/?url=http%3A%2F%2Fdingyue.ws.126.net%2F9uVxzFK2ITLKMr3I2PwAl1aZFM1YG99I0cTG8bFyQ29MC1524064213221compressflag.jpg&thumbnail=650x2147483647&quality=80&type=jpg");
  background-position: center;
  background-size: cover;
}
.caidanzu .caidan1:hover .fudong1 .jian {
  float: right;
  margin-top: 20px;
  width: 16px;
  height: 24px;
  background: #000;
  clip-path: polygon(0 0, 0 100%, 100% 50%);
}
.caidanzu .caidan2:hover .fudong2 {
  right: 102%;
  visibility: visible;
}
.caidanzu .caidan2:hover .fudong2 .kuai {
  background: #000 url("https://nimg.ws.126.net/?url=http%3A%2F%2Fdingyue.ws.126.net%2FzciMlVnFkieBRnM3LVDp7ktwtbzA%3DFSJes4tKymuycmw81524064213221compressflag.jpg&thumbnail=650x2147483647&quality=80&type=jpg");
  background-position: center;
  background-size: cover;
}
.caidanzu .caidan2:hover .fudong2 .jian {
  float: right;
  margin-top: 20px;
  width: 16px;
  height: 24px;
  background: #000;
  clip-path: polygon(0 0, 0 100%, 100% 50%);
}
.caidanzu .caidan3:hover .fudong3 {
  right: 102%;
  visibility: visible;
}
.caidanzu .caidan3:hover .fudong3 .kuai {
  background: #000 url("https://nimg.ws.126.net/?url=http%3A%2F%2Fdingyue.ws.126.net%2FSzboZvTU05TW9Qsik05UN%3Dh%3DFGX9OPkNvVYU2mTqI1AiV1524064213221compressflag.jpg&thumbnail=650x2147483647&quality=80&type=jpg");
  background-position: center;
  background-size: cover;
}
.caidanzu .caidan3:hover .fudong3 .jian {
  float: right;
  margin-top: 20px;
  width: 16px;
  height: 24px;
  background: #000;
  clip-path: polygon(0 0, 0 100%, 100% 50%);
}

.banner3 {
  position: relative;
  margin-bottom: 80px;
  width: 100%;
  height: 200px;
  font-size: 18px;
}
.banner3 .caidanzu {
  display: flex;
  margin: 0 20px 0 auto;
  width: 100%;
  height: 200px;
  flex-direction: row;
}
.banner3 .caidanzu .caidan {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  flex-grow: 1;
  transition: background-size 3s linear;
  width: 100vw;
  height: 200px;
}
.banner3 .caidanzu .caidan .biaoti {
  margin-left: 16px;
  color: #ccc;
}
.banner3 .caidanzu .caidan .biaoti h1 {
  font-size: 14px;
}
.banner3 .caidanzu .caidan .biaoti h2 {
  display: none;
  font-size: 13px;
}
.banner3 .caidanzu .caidan:hover {
  background-position: center;
  background-size: 170%;
}
.banner3 .caidanzu .caidan:hover h1 {
  margin-bottom: 8px;
  font-size: 18px;
  color: #fff;
}
.banner3 .caidanzu .caidan:hover h2 {
  display: block;
  color: #fff;
}
.banner3 .caidanzu .caidan1 {
  background-position: center;
  background-size: 200%;
  background-image: url("https://nimg.ws.126.net/?url=http%3A%2F%2Fdingyue.ws.126.net%2FzciMlVnFkieBRnM3LVDp7ktwtbzA%3DFSJes4tKymuycmw81524064213221compressflag.jpg&thumbnail=650x2147483647&quality=80&type=jpg");
}
.banner3 .caidanzu .caidan2 {
  background-position: center;
  background-size: 200%;
  background-image: url("https://nimg.ws.126.net/?url=http%3A%2F%2Fdingyue.ws.126.net%2F9uVxzFK2ITLKMr3I2PwAl1aZFM1YG99I0cTG8bFyQ29MC1524064213221compressflag.jpg&thumbnail=650x2147483647&quality=80&type=jpg");
}
.banner3 .caidanzu .caidan3 {
  background-position: center;
  background-size: 200%;
  background-image: url("https://nimg.ws.126.net/?url=http%3A%2F%2Fdingyue.ws.126.net%2FJPkt7njNzwOqnH%3DsEIbtdJOTRJF6MlmI3QRTJOmPEYkno1524064213221compressflag.jpg&thumbnail=650x2147483647&quality=80&type=jpg");
}