.dabiaoti {
  margin: 40px auto;
  width: fit-content;
  font-size: 40px;
  text-align: center;
}
.banner {
  position: relative;
  width: 100%;
  height: 200px;
  font-size: 18px;
}
.banner .bgbg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  background: url(https://i0.hippopx.com/photos/930/727/719/sunset-sun-evening-sky-clouds-thumb.jpg);
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 200px;
}
.banner .caidanzu {
  display: flex;
  flex-direction: column;
  margin: 0 20px 0 auto;
  width: 150px;
  height: 200px;
}
.banner .caidanzu .caidan {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.65);
  cursor: pointer;
  flex-grow: 1;
}
.banner .caidanzu .caidan .biaoti {
  margin-left: 16px;
  color: #ccc;
}
.banner .caidanzu .caidan .biaoti h1 {
  font-size: 14px;
}
.banner .caidanzu .caidan .biaoti h2 {
  display: none;
  font-size: 13px;
}
.banner .caidanzu .caidan .datu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  display: none;
}
.banner .caidanzu .caidan:hover {
  background-color: #000;
}
.banner .caidanzu .caidan:hover h1 {
  margin-bottom: 8px;
  font-size: 18px;
  color: #fff;
}
.banner .caidanzu .caidan:hover h2 {
  display: block;
  color: #fff;
}
.banner .caidanzu .caidan1 .datu1 {
  width: 100vw;
  height: 200px;
  background: url(https://i0.hippopx.com/photos/97/460/1006/aurora-finland-finnish-lapland-inari-thumb.jpg);
  background-position: center;
  background-size: cover;
}
.banner .caidanzu .caidan1:hover .datu1 {
  display: block;
}
.banner .caidanzu .caidan2 .datu2 {
  background: url(https://i0.hippopx.com/photos/227/22/547/wave-atlantic-pacific-ocean-thumb.jpg);
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 200px;
}
.banner .caidanzu .caidan2:hover .datu2 {
  display: block;
}
.banner .caidanzu .caidan3 .datu3 {
  background: url(https://i0.hippopx.com/photos/170/177/150/nepal-sunrise-morning-mountains-thumb.jpg);
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 200px;
}
.banner .caidanzu .caidan3:hover .datu3 {
  display: block;
}
.caidan-dw {
  position: relative;
}
.caidan-dw .fudong {
  position: absolute;
  top: 0;
  right: 90%;
  z-index: 1;
  width: 216px;
  height: 100px;
  visibility: hidden;
  transition-duration: 0.5s;
  transition-property: right;
}
.caidan-dw .fudong .kuai {
  float: left;
  padding: 8px;
  width: 200px;
  height: 100px;
  border: solid 2px #000;
  box-sizing: border-box;
}
.caidanzu .caidan1:hover .fudong1 {
  right: 102%;
  visibility: visible;
}
.caidanzu .caidan1:hover .fudong1 .kuai {
  background: #000 url(https://i0.hippopx.com/photos/170/177/150/nepal-sunrise-morning-mountains-thumb.jpg);
  background-position: center;
  background-size: cover;
}
.caidanzu .caidan1:hover .fudong1 .jian {
  float: right;
  margin-top: 20px;
  width: 16px;
  height: 24px;
  background: #000;
  clip-path: polygon(0 0, 0 100%, 100% 50%);
}
.caidanzu .caidan2:hover .fudong2 {
  right: 102%;
  visibility: visible;
}
.caidanzu .caidan2:hover .fudong2 .kuai {
  background: #000 url(https://i0.hippopx.com/photos/227/22/547/wave-atlantic-pacific-ocean-thumb.jpg);
  background-position: center;
  background-size: cover;
}
.caidanzu .caidan2:hover .fudong2 .jian {
  float: right;
  margin-top: 20px;
  width: 16px;
  height: 24px;
  background: #000;
  clip-path: polygon(0 0, 0 100%, 100% 50%);
}
.caidanzu .caidan3:hover .fudong3 {
  right: 102%;
  visibility: visible;
}
.caidanzu .caidan3:hover .fudong3 .kuai {
  background: #000 url(https://i0.hippopx.com/photos/97/460/1006/aurora-finland-finnish-lapland-inari-thumb.jpg);
  background-position: center;
  background-size: cover;
}
.caidanzu .caidan3:hover .fudong3 .jian {
  float: right;
  margin-top: 20px;
  width: 16px;
  height: 24px;
  background: #000;
  clip-path: polygon(0 0, 0 100%, 100% 50%);
}
.banner3 {
  position: relative;
  margin-bottom: 80px;
  width: 100%;
  height: 200px;
  font-size: 18px;
}
.banner3 .caidanzu {
  display: flex;
  margin: 0 20px 0 auto;
  width: 100%;
  height: 200px;
  flex-direction: row;
}
.banner3 .caidanzu .caidan {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-size 3s linear;
  cursor: pointer;
  flex-grow: 1;
  width: 100vw;
  height: 200px;
}
.banner3 .caidanzu .caidan .biaoti {
  margin-left: 16px;
  color: #ccc;
}
.banner3 .caidanzu .caidan .biaoti h1 {
  font-size: 14px;
}
.banner3 .caidanzu .caidan .biaoti h2 {
  display: none;
  font-size: 13px;
}
.banner3 .caidanzu .caidan:hover {
  background-position: center;
  background-size: 120%;
}
.banner3 .caidanzu .caidan:hover h1 {
  margin-bottom: 8px;
  font-size: 18px;
  color: #fff;
}
.banner3 .caidanzu .caidan:hover h2 {
  display: block;
  color: #fff;
}
.banner3 .caidanzu .caidan1 {
  background-position: center;
  background-size: 150%;
  background-image: url(https://i0.hippopx.com/photos/62/681/212/maldives-tropics-tropical-drone-thumb.jpg);
}
.banner3 .caidanzu .caidan2 {
  background-position: center;
  background-size: 150%;
  background-image: url(https://i0.hippopx.com/photos/227/22/547/wave-atlantic-pacific-ocean-thumb.jpg);
}
.banner3 .caidanzu .caidan3 {
  background-position: center;
  background-size: 150%;
  background-image: url(https://i0.hippopx.com/photos/170/177/150/nepal-sunrise-morning-mountains-thumb.jpg);
}
